/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    /* Font */
    --font-sans: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

    /* Colors */
    --neutral-200: 229, 229, 229;
    --neutral-600: 82, 82, 82;
    --neutral-500: 115, 115, 115;
    --neutral-800: 38, 38, 38;
    --orange: 255, 105, 0;
    --white: 255, 255, 255;
}

.sro {
    position: absolute;
    width: 0.0625rem;
    height: 0.0625rem;
    padding: 0;
    margin: -0.0625rem;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.app {
    max-width: 33.75rem;
    padding: 0 1rem;
    margin: 2.5rem auto;
    font-family: var(--font-sans);
    font-size: .875rem;
    line-height: 150%;
    color: rgb(var(--neutral-800));
    text-wrap: pretty;
}

.app__form {
    display: flex;
    flex-direction: column;
}

.app__label {
    margin-bottom: .25rem;
}

.app__textarea {
    height: 15rem;
    padding: 1rem;
    border: 1px solid rgb(var(--neutral-200));
    border-radius: .25rem;
}

.app__textarea:hover, .app__input:hover {
    border: 1px solid rgb(var(--neutral-800));
}

.app__textarea:focus, .app__input:focus {
    outline: none;
    border: 1px solid rgb(var(--neutral-800));
    box-shadow: 0 0 0 3px rgb(var(--neutral-200));
}

.app__input {
    padding: .625rem .75rem;
    margin-bottom: 1rem;
    border: 1px solid rgb(var(--neutral-200));
    border-radius: .25rem;
}

.app__button {
    width: max-content;
    padding: .625rem .75rem;
    margin-top: 1rem;
    color: white;
    background: rgb(var(--neutral-800));
    border: none;
    border-radius: .25rem;
    cursor: pointer;
}

.app__button:hover {
    opacity: .75;
}

.app__button:active {
    transform: scale(.95);
}

.posts {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.posts__date {
    text-align: center;
    font-size: 0.75rem;
    color: rgb(var(--neutral-500));
}

.posts__group {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.post__content {
    padding: .5rem 0.75rem;
    background: rgb(var(--neutral-200), .5);
    max-width: 20rem;
    border-radius: 1rem;
}

.post {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.post--right {
    margin-left: auto;
}

.post--right .post__content {
    background: rgb(var(--orange));
    color: rgb(var(--white));
}

.post__attachment {
    width: 15rem;
    border-radius: 1rem;
    position: relative;
}

.post__attachment:first-of-type {
    margin-top: 1rem;
}

.post__attachment + .post__attachment {
    margin-top: -5rem;
}

.post__attachment:nth-of-type(odd) {
    transform: rotate(4deg);
}

.post__attachment:nth-of-type(even) {
    transform: rotate(-4deg);
    transform: translateX(5rem);
}

.post__attachment:last-of-type {
    transform: rotate(0);
}

.post--right .post__attachment {
    margin-left: auto;
}

.post--left + .post--right,
.post--right + .post--left {
    margin-top: .5rem;
}
